:root {
  --primary: #6834a6;
  --white: #fff;
  --black: #000000;
  --mainFont: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--mainFont);
  font-size: 1.6rem;
  line-height: 1.8;
}

h1,
h2,
h3 {
  font-weight: 900;
  margin: 2rem 0;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4.6rem;
}

h3 {
  font-size: 3rem;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

/* With this selector we can set styles to all clases that ends with __container. useful for our header__container and nucleus__container  */
[class$="__container"] {
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
}

[class$="__heading"] {
  text-align: center;
  margin-bottom: 5rem;
}

/* Header */

.header {
  background-image: url(../img/header_bg.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 10rem;
  padding: 5rem 0;
}

@media (min-width: 768px) {
  .header {
    background-size: 50rem;
  }
}

@media (min-width: 992px) {
  .header {
    background-size: 60rem;
  }
}

@media (min-width: 1280px) {
  .header {
    background-size: 110rem;
  }
}

@media (min-width: 768px) {
  .header__bar {
    display: flex;
    justify-content: space-between;
  }
}

.header__logo {
  width: 15rem;
  margin: 0 auto 3rem auto;
}

@media (min-width: 768px) {
  .header__logo {
    margin: 0;
  }
  .header__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    align-items: center;
  }
}

.header__heading {
  font-size: 3rem;
}

@media (min-width: 768px) {
  .header_img {
    max-width: 30rem;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .header__heading {
    font-size: 5rem;
    line-height: 1;
  }
}

.header__boton {
  background-color: var(--primary);
  display: block;
  padding: 1rem;
  text-align: center;
  color: var(--white);
  margin-bottom: 4rem;
}

@media (min-width: 768px) {
  .header__boton {
    padding: 1rem 3rem;
    display: inline-block;
  }
}

/* Navegacion */

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .navbar {
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
  }
}

.navbar__link {
  color: var(--primary);
}

@media (min-width: 768px) {
  .navbar__link {
    color: var(--white);
  }
}

/* main section */

.nucleus {
  margin-top: 3rem;
}

.nucleus__grid {
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: 768px) {
  .nucleus__grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 5rem;
    align-items: center;
  }
}

/* nucleus list */

.list {
}

.list__element {
  background-color: var(--white);
  box-shadow: 0px 0px 15px 3px rgb(0 0 0 / 0.3);
  padding: 2rem;
  margin-bottom: 5rem;
  transition: transform 300ms;
}

.list__element:hover {
  transform: scale(1.1);
}

.list__heading {
  font-size: 3rem;
  text-align: left;
  color: var(--primary);
  margin: 0;
}

.list__text {
  margin: 0;
  font-size: 2rem;
}

/* security */

.security {
  background-color: var(--primary);
  padding: 20rem 0;
  position: relative;
  margin: 10rem 0;
  overflow: hidden;
}

.security::before,
.security::after {
  background-color: var(--white);
  content: "";
  height: 20rem;
  width: 130%;
  position: absolute;
}

.security::before {
  top: -10rem;
  left: 0;
  transform: rotate(3deg);
}
.security::after {
  bottom: -10rem;
  left: 0;
  transform: rotate(3deg);
}

.security__heading {
  color: var(--white);
}

@media (min-width: 768px) {
  .security__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }
}
